@{
    ViewData["Title"] = "Resultados";
}
<div class="wrapper-button-back">
    <a href="./Home/Index">Back</a>
</div>
<div class="wrapper-result">
        <div class="wrapper-labels">
            <div class="row">
                <div class="col-6">
                    <label>@ViewBag.Locales[0].Nombre</label>
                </div>
                <div class="col-6">
                    <label>@ViewBag.Locales[1].Nombre</label>
                </div>
            </div>
        </div>
        <div class="wrapper-values">
            <div class="row">
                <div class="col-3">
                    <img src="/img/pesos.png" alt="">
                </div>
                <div class="col-3">
                    <label for="">$ @ViewBag.Locales[0].Pago</label>
                </div>
                <div class="col-3">
                    <img src="/img/pesos.png" alt="">
                </div>
                <div class="col-3">
                    <label for="">$ @ViewBag.Locales[1].Pago</label>
                </div>
            </div>
        </div>
        <div class="wrapper-benefit">
            <div class="row">
                <div class="col-4">
                    <label for="">%@ViewBag.Locales[0].PorcentajeSubAplicado</label>
                </div>
                <div class="col-4 ">
                    <label for="" name = "sub">Subsidio: $@ViewBag.Subsidio</label>
                </div>
                <div class="col-4">
                    <label for="">%@ViewBag.Locales[1].PorcentajeSubAplicado</label>
                </div>
            </div>
        </div>
    </div>

<div class="wrapper-button-save">
    <a onclick="location.href='@Url.Action("Guardar","Home")'" href="#">Guardar</a>
</div>